language: node_js
node_js:
  - '8'
before_install:
  - rm -rf build
  - rm -rf node_modules
  - npm install -g ganache-cli
before_script:
  - ganache-cli --defaultBalanceEther 500000000 > /dev/null &
script:
  - npm run lint
  - npm run solhint
  - npm test
  - solium -d contracts/
  - ./node_modules/.bin/solidity-coverage && cat ./coverage/lcov.info | coveralls
