language: node_js
node_js:
  - 12
cache: yarn
env:
  global: NODE_OPTIONS=--max_old_space_size=4096
before_install:
  - rm -rf build
  - npm install -g yarn@latest
  - yarn --version
before_script:
  - yarn ganache > /dev/null &
script:
  - yarn lint
  - yarn build
  - solium -d contracts/
  - yarn coverage && cat ./coverage/lcov.info | coveralls
  - yarn test-contracts --grep @skip-on-coverage
  - yarn test-ts
before_deploy:
  - export PACKAGE_VERSION=$(jq -r '.version' package.json)
  - test "v$PACKAGE_VERSION" = "$TRAVIS_TAG"
  - mkdir -p deploy
  - yarn pack --filename deploy/dex-contracts-$PACKAGE_VERSION.tgz
deploy:
  provider: s3
  bucket: $BUCKET_NAME
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  local_dir: deploy
  skip_cleanup: true
  region: $AWS_REGION
  on:
    tags: true
after_deploy:
  - >
    curl -X POST
    -F "token=$GITLAB_TOKEN"
    -F "ref=master"
    -F "variables[PACKAGE_VERSION]=$PACKAGE_VERSION"
    https://gitlab.gnosisdev.com/api/v4/projects/$GITLAB_PROJECT/trigger/pipeline
