language: node_js
node_js:
  - 10
cache: yarn
before_install:
  - rm -rf build
  - npm install -g yarn@latest
  - yarn --version
  - npm install -g ganache-cli@latest
  - ganache-cli --version
script:
  - yarn run lint
  - yarn run solhint
  - yarn run pretty-check
  - solium -d contracts/
  - yarn run coverage && cat ./coverage/lcov.info | coveralls
before_deploy:
  - mkdir -p deploy
  - yarn pack --filename deploy/dex-contracts-$TRAVIS_TAG.tgz
deploy:
  provider: s3
  bucket: $BUCKET_NAME
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  local_dir: deploy
  skip_cleanup: true
  on:
    tags: true
after_deploy:
  - >
    curl -X POST
    -F "token=$GITLAB_TOKEN"
    -F "ref=master"
    -F "variables[TAG]=$TRAVIS_TAG"
    https://gitlab.gnosisdev.com/api/v4/projects/$GITLAB_PROJECT/trigger/pipeline
