language: node_js
node_js:
  - 10
cache: yarn
before_install:
  - rm -rf build
  - npm install -g yarn@latest
  - yarn --version
  - npm install -g ganache-cli@latest
  - ganache-cli --version
script:
  - yarn run lint
  - yarn run solhint
  - yarn run pretty-check
  - solium -d contracts/
  - yarn run coverage && cat ./coverage/lcov.info | coveralls
  - ganache-cli -l 8e6 && yarn run test ./test/stablex/stablex_large_example.js
before_deploy:
  - export PACKAGE_VERSION=$(jq -r '.version' package.json)
  - test "v$PACKAGE_VERSION" = "$TRAVIS_TAG"
  - mkdir -p deploy
  - yarn pack --filename deploy/dex-contracts-$PACKAGE_VERSION.tgz
deploy:
  provider: s3
  bucket: $BUCKET_NAME
  access_key_id: $AWS_ACCESS_KEY_ID
  secret_access_key: $AWS_SECRET_ACCESS_KEY
  local_dir: deploy
  skip_cleanup: true
  on:
    tags: true
after_deploy:
  - >
    curl -X POST
    -F "token=$GITLAB_TOKEN"
    -F "ref=v0.1.0"
    -F "variables[PACKAGE_VERSION]=$PACKAGE_VERSION"
    https://gitlab.gnosisdev.com/api/v4/projects/$GITLAB_PROJECT/trigger/pipeline
