language: node_js
node_js:
  - 10
cache:
  yarn: true
before_install:
  - rm -rf build
  - npm install -g yarn@latest
  - yarn --version
  - npm install -g ganache-cli@latest
  - ganache-cli --version
before_script:
  - ganache-cli --defaultBalanceEther 500000000 > /dev/null &
script:
  - yarn run lint
  - yarn run solhint
  - yarn run pretty-check
  - solium -d contracts/
  - yarn run coverage && cat ./coverage/lcov.info | coveralls
